#img {
    width: 20%;
}
.vid {
    width:560px; 
    height:315px;
    display: inline;
}

.im {
    display: inline;
}
body{
    background-color:rgb(194, 221, 248);
}
/*jugando . barra navegación*/

